<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166281611781-1u3uppe5erqoeflgo2ukpv73kqmid3i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166281611781-1u3uppe5erqoeflgo2ukpv73kqmid3i6</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Yoto23-j7Syika8dy6-wT8HEu6TqpTY</string>
	<key>GCM_SENDER_ID</key>
	<string>166281611781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vrindopnishad.foodyVrinda</string>
	<key>PROJECT_ID</key>
	<string>vrinda-cloud-kitchen</string>
	<key>STORAGE_BUCKET</key>
	<string>vrinda-cloud-kitchen.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166281611781:ios:a04ec6c6f376611731aa6c</string>
</dict>
</plist>